{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		<h1>Confirm</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			{% include "components/errors.html" %}

			<h4 class="text-center">
				请使用你的吉大邮箱向jlu_ctf@mail.jlu.edu.cn发送一封<b>标题为JLUCTF2020的认证邮件，内容为姓名+学号</b>，我们会在6h内进行处理。在平台上能看到题目即代表认证通过。。如果您的账号验证失败，请在赛事通知群中私聊管理员，我们会对您的账号进行人工验证。
			</h4>
			<h4 class="col-md-12 text-center">
				<a href="https://mails.jlu.edu.cn/">登陆吉大邮箱</a>
			</h4>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}

