[Unit]
Description=backup ctfd data to webdav
After=network.target

[Service]
Type=oneshot
User=root
EnvironmentFile=/srv/CTFd/backup/backup.conf
ExecStart=/usr/bin/sh "/srv/CTFd/backup/backup.sh"

[Install]
WantedBy=multi-user.target 
