[Unit]
Description=backup ctfd data to webdav
After=network.target

[Service]
Type=oneshot
User=root
Environment=deploy_path=/srv/CTFd
EnvironmentFile=$deploy_path/backup/backup.conf
ExecStart=/usr/bin/sh $deploy_path/backup.sh

[Install]
WantedBy=multi-user.target 
